{% extends "admin/change_form.html" %}

{% block after_related_objects %}
    <style>
        .extra_buttons {
        }

        .extra_buttons div {
            background-color: #6Cd0b7;
            width: 50px;
            float: right;
            padding: 4px;
            margin: 3px;
            border: 1px solid #222;
        }
    </style>

    <div class="extra_buttons">
        <a href="/receipt/{{original.id}}" target="_new">
        <div class="">Print Receipt
        </div>
        </a>
    </div>
{% endblock %}

